<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDCL_Yv5o__ibm3FNUv57lzw2vz2aQO8E</string>
	<key>GCM_SENDER_ID</key>
	<string>291994231151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calendarit.calendarit</string>
	<key>PROJECT_ID</key>
	<string>calendar-it-31e1c</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-it-31e1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291994231151:ios:3dc53150e94a5ef6d3089a</string>
	<key>DATABASE_URL</key>
	<string>https://calendar-it-31e1c-default-rtdb.firebaseio.com</string>
</dict>
</plist>